<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:insert="~{layout/head :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/sub.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <title>T셀파::</title>
    </head>
    <body>
        <th:block th:insert="~{layout/header :: header}"></th:block>

        <!-- content 영역 시작 -->
        <div id="main-content" class="container">
            <div class="row">
                <div class="col-md-12">
                    <table id="conversation" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Chat</th>
                        </tr>
                        </thead>
                        <tbody id="chatting"></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="message">내용</label>
                            <input type="text" id="message" name="message" class="form-control" placeholder="메시지 내용">
                        </div>
                        <button id="send" class="btn btn-default" type="submit">보내기</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 btn-group">
                    <button class="btn-primary" onclick="return history.go(-1)">목록</button>
                </div>
            </div>
        </div>
        <!-- content 영역 종료 -->

        <th:block th:insert="~{layout/footer :: footer}"></th:block>
        <script th:src="@{/js/sub.js}"></script>
        <script th:src="@{/js/sockjs.min.js}"></script>
        <script th:src="@{/js/stomp.min.js}"></script>
        <script th:inline="javascript">
            var stompClient = null;
            var roomId = [[${roomId}]];
            var chatList = [[${chatList}]];
        </script>
        <script th:src="@{/js/chat.js}"></script>
    </body>
</html>