<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:insert="~{layout/head :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/sub.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <title>T셀파::</title>
    </head>
    <body>
        <th:block th:insert="~{layout/header :: header}"></th:block>

        <!-- content 영역 시작 -->
        <div class="container text-center my-5">
            <div class="row my-5">
                <div class="col">
                    <h2>채팅방</h2>
                    <table class="table mt-5">
                        <tbody>
                        <tr th:each="room : ${roomList}">
                            <td><a class="text-lg-start" th:href="@{/chat/getChat/{roomId}(roomId=${room.getRoomId()})}" th:text="${room.getBuyerId() + '님과의 채팅'}"></a></td>
                            <!--<td class="text-start"><a class="text-start" th:href="${path} + @{?(roomId=${room.roomId}, productId=${room.productId}, productTable=${room.productTable})}" th:text="${room.productName + room.getBuyerId() + '님과의 채팅'}"></a></td>-->
                            <!--<a th:href="${listUrl} + @{?(page=${page-1})}" th:text="${page}"></a></li>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- content 영역 종료 -->

        <th:block th:insert="~{layout/footer :: footer}"></th:block>
        <script th:src="@{/js/sub.js}"></script>
    </body>
</html>